---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Impressum / Kontakt">
  <h1>Impressum / Kontakt</h1>
  <p>Impressum-Inhalte folgen. (MVP1: keine Formular-Einreichung)</p>
</Layout>
