---
const { title = "HoBB" } = Astro.props;
---
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content="Studenten-Wohngemeinschaften bei der FU" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a> |
        <a href="/wohngemeinschaften/">die Wohngemeinschaften</a> |
        <a href="/lage">die Lage</a> |
        <a href="/haus">das Haus</a> |
        <a href="/impressum-kontakt">Impressum/Kontakt</a>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <small>© HoBB</small>
    </footer>
  </body>
</html>
